---
import CallToAction from "../../components/CallToAction.astro";
import PrimaryLayout from "../../layouts/PrimaryLayout.astro";

const baseUrl = import.meta.env.STRAPI_URL_TWO;
const token = import.meta.env.ASTRO_APP_API_TOKEN_TWO;

const response = await fetch(`${baseUrl}/api/pages?populate[team][populate]=*`, {
  headers: {
    'Authorization': `Bearer ${token}`
  }
});

const { data } = await response.json();
const teamData = data[0].team[0]; // Using the second component which contains the data
const seoData = data[0].team.find((component: { __component: string }) => component.__component === "team-seo.team-seo");

const teamMembers = [
    {
        slug: teamData.member1Title
                .toLowerCase()
                .replace(/^dr\s+/i, "")
                .replace(/\s+/g, '-'),
        name: teamData.member1Title,
        title: teamData.member1Job,
        description: teamData.member1Desc,
        image: `${baseUrl}${teamData.member1Img.url}`,
        imageAlt: teamData.member1Img?.alternativeText || teamData.member1Title
    },
    {
        slug: teamData.member2Title
                .toLowerCase()
                .replace(/^dr\s+/i, "")
                .replace(/\s+/g, '-'),
        name: teamData.member2Title,
        title: teamData.member2Job,
        description: teamData.member2Desc,
        image: `${baseUrl}${teamData.member2Img.url}`,
        imageAlt: teamData.member2Img?.alternativeText || teamData.member2Title
    },
    {
        slug: teamData.member3Title
                .toLowerCase()
                .replace(/^dr\s+/i, "")
                .replace(/\s+/g, '-'),
        name: teamData.member3Title,
        title: teamData.member3Job,
        description: teamData.member3Desc,
        image: `${baseUrl}${teamData.member3Img.url}`,
        imageAlt: teamData.member3Img?.alternativeText || teamData.member3Title
    },
    {
        slug: teamData.member4Title
                .toLowerCase()
                .replace(/^dr\s+/i, "")
                .replace(/\s+/g, '-'),
        name: teamData.member4Title,
        title: teamData.member4Job,
        description: teamData.member4Desc,
        image: `${baseUrl}${teamData.member4Img.url}`,
        imageAlt: teamData.member4Img?.alternativeText || teamData.member4Title
    }
];
---

<PrimaryLayout title={seoData?.SeoTitle} description={seoData?.SeoDesc}>
    <CallToAction />
    <section class="py-16 px-4 max-w-[1260px] mx-auto md:md:md:mt-12 mt-12 pb-20 ">
        <h2 class="text-4xl font-bold text-center pb-16 sm:text-3xl max-md:pt-12">{teamData.Title}</h2>
        
        <!-- Featured Team Member -->
        <div class="max-w-3xl mx-auto mb-20">
            <div class="text-start flex max-md:flex-col gap-12 items-center max-md:justify-center max-sm:items-center">
                <img src={teamMembers[0].image} alt={teamMembers[0].imageAlt} class="rounded-full w-96 h-96 mx-auto mb-6 object-cover sm:w-64 sm:h-64"/>
                <div class="flex flex-col max-sm:text-center max-md:justify-center max-md:items-center">
                    <h3 class="text-2xl font-bold mb-1">{teamMembers[0].name}</h3>
                    <p class="text-gray-600 mb-4">{teamMembers[0].title}</p>
                    <p class="text-gray-700 mb-4 max-w-2xl mx-auto">
                        {teamMembers[0].description}
                    </p>
                    <div class="max-md:w-full flex max-md:justify-center">
                        <a href={`/meet-our-team/${teamMembers[0].slug}`} class="meet-our-team-btn md:md:md:mt-12 mt-3">
                            {teamData.CTA}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team Grid -->
        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-12 max-w-6xl mx-auto">
            {teamMembers.slice(1, 3).map((member) => (
                <div class="text-start flex flex-col gap-4 max-md:justify-center max-md:items-center sm:mb-8 h-full">
                    <img src={member.image} alt={member.imageAlt} class="rounded-full w-72 h-72 mx-auto mb-6 object-cover sm:w-56 sm:h-56"/>
                    <div class="flex flex-col text-center max-md:justify-center max-md:items-center flex-grow">
                        <h3 class="text-xl font-bold mb-1">{member.name}</h3>
                        <p class="text-gray-600 mb-4">{member.title}</p>
                        <p class="text-gray-700 mb-4 text-sm flex-grow">
                            {member.description}
                        </p>
                        <div class="max-md:w-full flex justify-center mt-auto">
                            <a href={`/meet-our-team/${member.slug}`} class="meet-our-team-btn mt-3">
                                {teamData.CTA}
                            </a>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </section>
</PrimaryLayout>

<style>
     .meet-our-team-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 50px;
        font-size: 16px;
        font-weight: bold;
        width: 240px;
        height: 54px;
        background: #ED2278;
        &:hover {
            background: #ff3d8f;
        }
        border-radius: 11000px 6000px 6000px 0px;
        color: white;
        @media (max-width: 640px) {
            padding: 10px 30px;
            width: 200px;
            height: 40px;
            font-size: 14px;
        }
    }
</style>