---
import Title from "./ui/Title.astro";

interface Props {
  teamsData: any;
}

const { teamsData } = Astro.props;
const baseUrl = import.meta.env.STRAPI_URL_TWO;
---

<section class="bg-[linear-gradient(rgba(240,0,29,0.22)_0%,rgba(217,217,217,0)_100%)]">
    <div class="container mx-auto px-4 md:px-6 lg:px-8 overflow-hidden pb-16">
      <div class="w-full flex flex-col items-center justify-center gap-1 mt-16 md:mt-24">
        <Title text={teamsData.FirstTitle} className="mb-3 text-nowrap" />  
        <h1 class="font-bold lg:text-4xl text-2xl md:mb-16 mb-7">{teamsData.MainTitle}</h1>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-3 lg:gap-16 xl:gap-20 gap-6 md:mt-10 mx-auto max-w-7xl">
        <div class="w-full">
          <img loading="lazy" src={baseUrl + teamsData.memberOneImg.url} alt={teamsData.memberOneImg.alternativeText || teamsData.memberOneName} class="w-full h-auto lg:rounded-br-[120px] lg:rounded-tl-[120px] rounded-br-[50px] rounded-tl-[50px]" />
          <h3 class="mt-4 font-bold text-center uppercase xl:text-2xl lg:text-xl text-sm max-lg:tracking-wider">{teamsData.memberOneName}</h3>
          <p class="text-primary text-center font-medium text-xl max-lg:text-sm">{teamsData.memberOneJob}</p>
        </div>
        <div class="w-full md:-mt-16 ">
          <img loading="lazy" src={baseUrl + teamsData.memberTwoImg.url} alt={teamsData.memberTwoImg.alternativeText || teamsData.memberTwoName} class="w-full h-auto lg:rounded-br-[120px] lg:rounded-tl-[120px] rounded-br-[50px] rounded-tl-[50px] max-sm:max-h-[275px]" />
          <h3 class="mt-4 font-bold text-center uppercase xl:text-2xl lg:text-xl text-sm max-lg:tracking-wider">{teamsData.memberTwoName}</h3>
          <p class="text-primary text-center font-medium text-xl max-lg:text-sm">{teamsData.memberTwoJob}</p>
        </div>
        <div class="w-full">
          <img loading="lazy" src={baseUrl + teamsData.memberThreeImg.url} alt={teamsData.memberThreeImg.alternativeText || teamsData.memberThreeName} class="w-full h-auto lg:rounded-br-[120px] lg:rounded-tl-[120px] rounded-br-[50px] rounded-tl-[50px]" />
          <h3 class="mt-4 font-bold text-center uppercase xl:text-2xl lg:text-xl text-sm max-lg:tracking-wider">{teamsData.memberThreeName}</h3>
          <p class="text-primary text-center font-medium text-xl max-lg:text-sm">{teamsData.memberThreeJob}</p>
        </div>
        <div class="w-full">
          <img loading="lazy" src={baseUrl + teamsData.memberFourImg.url} alt={teamsData.memberFourImg.alternativeText || teamsData.memberFourName} class="w-full h-auto lg:rounded-br-[120px] lg:rounded-tl-[120px] rounded-br-[50px] rounded-tl-[50px]" />
          <h3 class="mt-4 font-bold uppercase text-center xl:text-2xl lg:text-xl text-sm max-lg:tracking-wider">{teamsData.memberFourName}</h3>
          <p class="text-primary text-center font-medium text-xl max-lg:text-sm">{teamsData.memberFourJob}</p>
        </div>
        <div class="w-full md:-mt-16">
          <img loading="lazy" src={baseUrl + teamsData.memberFiveImg.url} alt={teamsData.memberFiveImg.alternativeText || teamsData.memberFiveName} class="w-full h-auto lg:rounded-br-[120px] lg:rounded-tl-[120px] rounded-br-[50px] rounded-tl-[50px]" />
          <h3 class="mt-4 font-bold uppercase text-center xl:text-2xl lg:text-xl text-sm max-lg:tracking-wider">{teamsData.memberFiveName}</h3>
          <p class="text-primary text-center font-medium text-xl max-lg:text-sm">{teamsData.memberFiveJob}</p>
        </div>
        <div class="w-full">
          <img loading="lazy" src={baseUrl + teamsData.memberSixImg.url} alt={teamsData.memberSixImg.alternativeText || teamsData.memberSixName} class="w-full h-auto lg:rounded-br-[120px] lg:rounded-tl-[120px] rounded-br-[50px] rounded-tl-[50px]" />
          <h3 class="mt-4 font-bold uppercase text-center xl:text-2xl lg:text-xl text-sm max-lg:tracking-wider">{teamsData.memberSixName}</h3>
          <p class="text-primary text-center font-medium text-xl max-lg:text-sm">{teamsData.memberSixJob}</p>
        </div>
      </div>

      <div class="w-full flex justify-center mt-10 max-lg:mt-6">
        <a href="/meet-our-team" class="bg-primary text-white text-nowrap px-6 py-2 flex justify-center items-center w-[214px] h-[60px] font-bold text-lg max-sm:text-base rounded-2xl rounded-bl-none">
          <img loading="lazy" src="/person.svg" alt="Logo" class="h-5 mt-0.5 mr-3 w-auto" />
          View All Members
        </a>
      </div>
    </div>
</section>
